<div
  class="container-fluid overflow-x: hidden"
  style="background: linear-gradient(to bottom, #edf7fa 0%, #ffffff 34%)"
>

<div style="padding-top: 1%; margin-bottom: 3%;">
  <!-- <app-search-bar></app-search-bar> -->
</div>
<!-- <div class= "container" style="display: flex;"> -->
<!-- <div style=" flex-grow: 1;">
  <table class="table">
    <thead>
      <tr>

          <th
            scope="col"
            id="feature"
            style="justify-items: flex-start; color: #031466"
          >
            {{ subHeading }}
          </th>

      </tr>
    </thead>
    <tbody *ngFor="let char of basicInfoArray; let i = index">
      <tr
        *ngIf="i % 2 == 0; else elseBlock"
        style="background-color: #edf7fa; font-weight: 200; color: #031466"
      >
        <th scope="row" style="font-weight: 500">{{ char }}</th>
      </tr>
      <ng-template #elseBlock>
        <tr style="background-color: white; color: #031466; font-weight: 200">
          <th scope="row" style="font-weight: 500">{{ char }}</th>
        </tr>
      </ng-template>
    </tbody>
  </table>

</div> -->

<!-- </div> -->


<!-- Car comparision template -->
<!-- <div style="display: flex;">
  <div style="flex-grow: 1;">
    <div class="col-4" style="width: 73%; height:45%; margin-top: 6%;">
      <div
        class="card p-3 mx-2"
        style="border-radius: 20px; cursor: pointer; "
      >
        <img
          class="mt-4 mb-1"
          src="../../../assets/images/add1.png"
          style="width: 30%; margin-left: 35%; height: 30%"
        />
        <p
          class="text-center mt-2"
          style="color: #031466; font-weight: 500"
        >
          Add Car
        </p>
        <select
          class="form-select mb-3 mt-2"
          style="
            width: 70%;
            color: #031466;
            border: none;
            background-color: #edf7fa;
            font-size: medium;
            margin-left: 15%;
          "
          aria-label="Default select example"
        >
          <option selected>Brand</option>
          <option value="1">Tata</option>
          <option value="2">Nissan</option>
          <option value="3">Toyota</option>
        </select>

        <select
          class="form-select mb-3"
          style="
            width: 70%;
            color: #031466;
            background-color: #edf7fa;
            border: none;
            font-size: medium;
            margin-left: 15%;
          "
          aria-label="Default select example"
        >
          <option selected>Model</option>
          <option value="1">Tata Tiago</option>
          <option value="2">Nissan Micra</option>
          <option value="3">Toyota Innova</option>
        </select>

        <button
          class="btn btn-primary"
          style="width: 75%; margin-left: 15%; border-radius: 5px"
        >
          Add To Compare
        </button>
      </div>
    </div>
    <div style="width: 100%; margin-top: 11%;">
      <app-car-features></app-car-features>
    </div>

  </div>
  <div class="container"  id="scroller">
    <div class="d-flex" style="padding: 2%">
      <div class="col-4">

          <app-cardgriditem></app-cardgriditem>

        <div style="margin-top: 18%; margin-right: -20%; margin-left: 10%;">
          <app-carfeaturelist></app-carfeaturelist>
        </div>
      </div>
      <div class="col-4">
          <app-cardgriditem></app-cardgriditem>


        <div style="margin-top: 18%;margin-right: -20%; margin-left: 10%;">
          <app-carfeaturelist></app-carfeaturelist>
        </div>
      </div>
      <div class="col-4">
        <app-cardgriditem></app-cardgriditem>
        <div style="margin-top: 18%;margin-right: -20%; margin-left: 10%;">
          <app-carfeaturelist></app-carfeaturelist>
        </div>
      </div>
      <div class="col-4">
        <app-cardgriditem></app-cardgriditem>
        <div style="margin-top: 18%;margin-right: -20%; margin-left: 10%;">
          <app-carfeaturelist></app-carfeaturelist>
        </div>
      </div>

    </div>

</div>





</div> -->

<div class="container" id="carDetails">

  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../../assets/images/swift4.jpeg" class="d-block w-100" alt="...">
        <!-- <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div> -->
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/images/swift4.jpeg" class="d-block w-100" alt="...">
        <!-- <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div> -->
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/swift4.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div> -->
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>

<br>
<div class="container">
  <div class= "d-flex justify-content-evenly">
    <p class="mt-4" style="color: #031466;" >Name : Maruti Suzuki</p>
    <p class="mt-4" style="color: #031466;" >Price : 7.89 Lakhs </p>
    <p class="mt-4" style="color: #031466;" >Engine : 1248cc</p>
  </div>
  <br>
  <div class= "d-flex justify-content-evenly">
    <p class="mt-4" style="color: #031466;" >Mileage : 24 Kmpl</p>
    <p class="mt-4" style="color: #031466;" >Transmission : Manual</p>
    <p class="mt-4" style="color: #031466;" >Color : Red</p>
  </div>
</div>
<br>




</div>
<br>
<div style="display: flex; margin-left: 0%; margin-top: 4%; width: 100%;">
  <div class="container"  id="dealerHeadings" style="width: 38%;margin-top: 4%; ">
    <app-car-features ></app-car-features>
  </div>
  <div class="container"  id="scroller">
    <div class="d-flex" >
      <div class="col-4">

        <div style=" margin-right: -20%; margin-left: 10%;">
          <app-carfeaturelist ></app-carfeaturelist>
        </div>
      </div>
      <div class="col-4">

        <div style="margin-right: -20%; margin-left: 10%;">
          <app-carfeaturelist ></app-carfeaturelist>
        </div>
      </div>
      <div class="col-4">

        <div style="margin-right: -20%; margin-left: 10%;">
          <app-carfeaturelist ></app-carfeaturelist>
        </div>
      </div>
      <div class="col-4">
        <div style="margin-right: -20%; margin-left: 10%;">
          <app-carfeaturelist ></app-carfeaturelist>
        </div>
      </div>
    </div>
    <br>
  </div>
  </div>

  <br>

