<div
  class="container-fluid"
  style="background: linear-gradient(to bottom, #edf7fa 0%, #ffffff 34%)"
>
  <div class="container">
    <div class="d-flex">
      <div class="row d-flex justify-content-between" style="margin-top: 7%">
        <div class="col-6">
          <h1 style="font-size: 300%; color: #031466; font-weight: bold">
            Find the right car at your price.
          </h1>
          <p style="font-size: 120%; color: grey; font-weight: 400">
            Our vision is to provide a smooth car buying journey for all
            Indians. Choose a car, compare dealer prices, ask for quotes , buy
            it and that's it.
          </p>
        </div>
        <div class="col-6">
          <img
            src="../../../assets/images/swift4.jpeg"
            style="
              width: 100%;
              background: none;
              opacity: 1;
              margin-top: 50px;
              margin-left: 53px;
            "
          />
        </div>
      </div>
    </div>
  </div>
</div>
