

.head{
  color: #031466;
}

.headDesc{
  color: #031466;
  font-family: "Lucida Console", "Courier New", monospace;
}

button {
  background-color: #031466;
  color: white;
  border-color: white;
}

button:hover {
  background-color: #031466;
  color: white;
  border-color: white;
}

#compareCarsModal.show {
  display: block;
}
