<div class="container-fluid">
  <div class="container mt-5 pb-5" style="color: #031466">
    <h3 class="text-center">All Brands</h3>
    <div class="row d-flex mt-5 mb-5">
      <div class="card mx-1" style="width: 10%; cursor: pointer;">
        <img src="../../../assets/icons/kia-logo.png"
        (click)="onClickBrand('Kia')"
        />
      </div>
      <div class="card mx-1" style="width: 10%; cursor: pointer;">
        <img src="../../../assets/icons/honda-logo.png"
        (click)="onClickBrand('Honda')" />
      </div>
      <div class="card mx-1" style="width: 10%; cursor: pointer;">
        <img src="../../../assets/icons/tata-logo.png"
        (click)="onClickBrand('Tata')" />
      </div>
      <div class="card mx-1" style="width: 10%; cursor: pointer;">
        <img src="../../../assets/icons/hyundai-logo.png"
        (click)="onClickBrand($event)"  />
      </div>
      <div class="card mx-1" style="width: 10%; cursor: pointer;">
        <img src="../../../assets/icons/renault-logo.png"
        (click)="onClickBrand('Renault')"  />
      </div>
      <div class="card mx-1" style="width: 10%; cursor: pointer;">
        <img src="../../../assets/icons/suzuki-logo.png"
        (click)="onClickBrand('Maruti Suzuki')" />
      </div>
      <div class="card mx-1" style="width: 10%; cursor: pointer;">
        <img src="../../../assets/icons/skoda-logo.png"
        (click)="onClickBrand('Skoda')" />
      </div>
      <div class="card mx-1" style="width: 10%; cursor: pointer;">
        <img src="../../../assets/icons/volkswagen-logo.png"
        (click)="onClickBrand('Volkswagen')" />
      </div>
      <div class="card mx-1" style="width: 10%; cursor: pointer;">
        <img src="../../../assets/icons/fiat-logo.png"
        (click)="onClickBrand('Fiat')" />
      </div>
    </div>
  </div>
</div>
