<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Italianno&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap"
  rel="stylesheet"
/>

<app-navbar></app-navbar>
<!-- <app-home></app-home> -->
<!-- <app-car-compare></app-car-compare> -->
<!-- <app-car-details></app-car-details> -->
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <app-dealer-compare></app-dealer-compare> -->
<!-- <app-test></app-test> -->
