<div class="container-fluid" style="height: 45vh">
  <div class="container mt-5 pb-5" style="color: #031466">
    <h3 class="text-center">
      Why get a car price quote<br />
      from Carbuzzar.com?
    </h3>
    <div class="row">
      <div class="col-6 p-5">
        <h4
          class="text-center mb-4"
          style="font-weight: 500; color: cornflowerblue"
        >
          Save Time and Money
        </h4>
        <p style="font-weight: 200">
          Local dealers near you are motivated to provide new car buyers on
          Carbazzar.com with competitive quotes. Why? Because they know that if
          you're using our website, you've done your online research. You are an
          educated shopper needing a different approach than the average
          "walk-in" customer.
        </p>
      </div>
      <div class="col-6 p-5">
        <h4
          class="text-center mb-4"
          style="font-weight: 500; color: cornflowerblue"
        >
          Shopping for a new car is Hassle-Free
        </h4>
        <p style="font-weight: 200">
          Carbazzar.com offers a free, online car quote service that is second
          to none. Put your mind at ease and gather multiple price quotes from
          the comfort of home. You can even start negotiations with the dealer
          by email before going to the dealership and sealing the deal!
        </p>
      </div>
    </div>
  </div>
</div>
