.filterbtn {
  border-radius: 5px;
  border-color: #031466;
  color: #031466;
  font-size: small;
}

.filterbtn:hover {
  background: #e7f9ff;
  color: #031466;
}

.filterbtnclk {
  border-radius: 5px;
  border-color: #031466;
  background: #e7f9ff;
  color: #031466;
  font-size: small;
}

#morefilter {
  width: 65%;
  box-shadow: 10px 10px 5px transparent;
  z-index: 1;
  border-radius: 10px;
  margin-top: -15%;
  height: 100%;
  margin-left: 10%;
  display: block;
}

#morefilterclose {
  display: none;
}
